[submodule "thing_libutils"]
	path = thing_libutils
	url = https://github.com/oysteinkrog/thing_libutils.git
[submodule "MCAD"]
	path = MCAD
	url = https://github.com/elmom/MCAD.git
[submodule "scad-utils"]
	path = scad-utils
	url = https://github.com/openscad/scad-utils.git
[submodule "list-comprehension-demos"]
	path = list-comprehension-demos
	url = https://github.com/openscad/list-comprehension-demos.git
[submodule "thing_spurgearmount"]
	path = thing_spurgearmount
	url = https://github.com/oysteinkrog/thing_spurgearmount.git
